<script src="/js/s3upload.js"> </script>


<div class="row">
  <div class="col-md-9">

    <button ng-show="!newShitMode" ng-click="newShitMode = !newShitMode" class="btn btn-success"> I did something stuipid. </button>

    <div class="well" ng-show="newShitMode">
      <div class="form-group">
        <label>Text/Link</label>
        <textarea class="form-control" style="width: 100%" ng-model="newShit.body"></textarea>
      </div>

      <hr />
      <div style="text-align: center">
        <p> - OR - </p>
      </div>

      <div class="form-group">
        <label>Title</label>
        <input type="text" ng-model="newShit.title" placeholder="title" class="form-control"> </input>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4> Image </h4>
          <input type="file" id="files"/>
          <input type="hidden" ng-model="s3_url" id="s3_url">
          <div ng-if="newShit.img">
            <img ng-src="{{newShit.img}}" style="width: 100%">
          </div>

          <div class="progress" ng-show="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( progress + '%' ) }">
              <span class="sr-only">{{progress}}% Complete</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <h4>Youtube</h4>
          <div class="form-group">
            <label>URL</label>
            <input type="text" ng-model="newShit.youtube" class="form-control" placeholder="https://www.youtube.com/watch?v=video">
          </div>
        </div>

        <div class="col-md-4">
          <h4>Vine</h4>
          <div class="form-group">
            <label>URL</label>
            <input type="text" ng-model="newShit.vine" class="form-control" placeholder="https://vine.co/v/video_id">
          </div>
        </div>
      </div>


      <button ng-click="postShit()" class="btn btn-success pull-right"> I did this! </button>
      <span class="clearfix"> </span>
    </div>

    `<div class="btn-group pull-right">
      <button type="button" class="btn btn-primary" ng-class="{active: shitMode=='new'}" ng-click="shitMode = 'new'"> New </button>
      <button type="button" class="btn btn-primary" ng-class="{active: shitMode=='top'}" ng-click="shitMode = 'top'"> Top </button>
      <button type="button" class="btn btn-primary" ng-class="{active: shitMode=='controversial'}" ng-click="shitMode = 'controversial'"> Controversial </button>
    </div>


  <style>
  .share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
</style>

    <br /> <br />

    <!-- Content -->
    <!-- <a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a> -->
    <div ng-repeat="shit in shits">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{shit.title}}

          <span class="pull-right">
            <span ng-click="goto(shit);"> <i  class="fa fa-link"> </i> </span> &nbsp;

            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstuipidshitido.herokuapp.com&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
              <i class="fa fa-facebook" style="color:#3B5998"> </i> &nbsp;
            </a>

            <a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fstuipidshitido.herokuapp.com&text=:%20https%3A%2F%2Fstuipidshitido.herokuapp.com" target="_blank" title="Tweet"
              onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;">
              <i class="fa fa-twitter" style="color:#55ACEE"> </i> &nbsp;
            </a>

          	<a href="mailto:?subject=&body=:%20https%3A%2F%2Fstuipidshitido.herokuapp.com" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;">
              <i class="fa fa-envelope" style="color: black"> </i>
            </a>

          </span>
        </h3>

          <span class="clearfix"> </span>
        </div>
        <div class="panel-body">

          <div class="pull-left" style="text-align: center">
            <span ng-click="upvote(shit);" style='font-size: 24px; color: green' class="glyphicon glyphicon-hand-up"></span> <br />
            <p> {{shit.score}} </p>
            <span ng-click="downvote(shit);" style="font-size: 24px; color: red" class="glyphicon glyphicon-hand-down"></span>
          </div>

          <p style="font-size: 24px; margin-left: 40px; font-weight: 300"> {{shit.body}} </p>
          <div ng-if="shit.img" style="text-align: center;">
            <img ng-src="{{shit.img}}">
          </div>

          <div ng-if="shit.youtube" style="text-align: center;">
            <iframe width="560" height="315" ng-src="{{shit.youtube | trusted}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="panel-footer">


          <!-- Comments -->
          <p class="pull-right" ng-show="!shit.commentMode" style="margin: 0px">
            <a ng-click="shit.commentMode = !shit.commentMode"> Show Comments ({{shit.comments.length}}) </a> </p>
          <span class="clearfix"> </span>
          <div ng-if="shit.commentMode" style="width: 100%; text-align: right">


            <div ng-repeat="comment in shit.comments | orderBy:'ts':true" style="padding: 0px; margin: 0px" >
              {{comment.body}} </br/> {{comment.ts |fromNow }} <a href="/u/{{comment.user._id}}">{{comment.user.name}}</a>
              <hr />
            </div>


            <div class="form-group" style="text-align: left">
              <label> Comment </label>
              <textarea ng-model="shit.comment.body" class="form-control"></textarea>
            </div>
            <button ng-click="addComment(shit)" class="btn btn-primary pull-right">Save Comment</button>
            <a class="pull-right btn" ng-click="shit.commentMode = !shit.commentMode"> Close </a>
            <span class="clearfix"> </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div data-spy="affix">

      <img src="https://placehold.it/250x600">
    </div>
  </div>
</div>
