<div class="row">
  <div class="col-md-6">
    <img ng-src="{{me.picture}}">
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="me.username">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" ng-model="me.email">
    </div>
  </div>
</div>

<h4> Posts </h4>
<div ng-repeat="shit in shits">
  {{shit.score}} <a href="/#/s/{{shit._id}}"> {{shit.title}} {{shit.body}} </a>
</div>

<h4> Comments </h4>
<div ng-repeat="comment in comments">
  <a href="/#/s/{{comment.shit._id}}"> {{comment.body}} </a>
</div>
